{% load static %}

<!-- block-wrapper-section
                ================================================== -->
                <section class="block-wrapper">
                    <div class="container">
                        <div class="row">
                            
        
                            <!-- blog-content-item -->

                            {% include "include/blog-content-item.html" %}
                                
                            <!-- end blog-content-item -->

                            <!-- blog sidebar-item -->

                            {% include "include/sidebar-item.html" %}

                            <!-- end blog sidebar-item -->
                        </div>
        
                    </div>
                </section>
                <!-- End block-wrapper-section -->	