{% load static %}

<div class="col-sm-4">
        
    <!-- sidebar -->
    <div class="sidebar">

        <div class="widget tab-posts-widget">

            <ul class="nav nav-tabs" id="myTab">
                <li class="active">
                    <a href="#option1" data-toggle="tab">Popular</a>
                </li>
                <li>
                    <a href="#option2" data-toggle="tab">Recent</a>
                </li>
                <li>
                    <a href="#option3" data-toggle="tab">Top Reviews</a>
                </li>
            </ul>

            <div class="tab-content">
                <div class="tab-pane active" id="option1">
                    <ul class="list-posts">
                        <li>
                            <img src="{% static 'upload/news-posts/listw1.jpg' %}" alt="">
                            <div class="post-content">
                                <h2><a href="{% url 'blog' %}">Pellentesque odio nisi, euismod in, pharetra a, ultricies in, diam. </a></h2>
                                <ul class="post-tags">
                                    <li><i class="fa fa-clock-o"></i>27 may 2013</li>
                                </ul>
                            </div>
                        </li>

                        <li>
                            <img src="{% static 'upload/news-posts/listw2.jpg' %}" alt="">
                            <div class="post-content">
                                <h2><a href="{% url 'blog' %}">Sed arcu. Cras consequat. </a></h2>
                                <ul class="post-tags">
                                    <li><i class="fa fa-clock-o"></i>27 may 2013</li>
                                </ul>
                            </div>
                        </li>

                        <li>
                            <img src="{% static 'upload/news-posts/listw3.jpg' %}" alt="">
                            <div class="post-content">
                                <h2><a href="{% url 'blog' %}">Phasellus ultrices nulla quis nibh. Quisque a lectus.  </a></h2>
                                <ul class="post-tags">
                                    <li><i class="fa fa-clock-o"></i>27 may 2013</li>
                                </ul>
                            </div>
                        </li>

                        <li>
                            <img src="{% static 'upload/news-posts/listw4.jpg' %}" alt="">
                            <div class="post-content">
                                <h2><a href="{% url 'blog' %}">Donec consectetuer ligula vulputate sem tristique cursus. </a></h2>
                                <ul class="post-tags">
                                    <li><i class="fa fa-clock-o"></i>27 may 2013</li>
                                </ul>
                            </div>
                        </li>

                        <li>
                            <img src="{% static 'upload/news-posts/listw5.jpg' %}" alt="">
                            <div class="post-content">
                                <h2><a href="{% url 'blog' %}">Nam nulla quam, gravida non, commodo a, sodales sit amet, nisi. </a></h2>
                                <ul class="post-tags">
                                    <li><i class="fa fa-clock-o"></i>27 may 2013</li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="tab-pane" id="option2">
                    <ul class="list-posts">
                        {% for recent in articles_recent %}
                            <li>
                                <img src="{{ recent.image.url }}" alt="">
                                <div class="post-content">
                                    <h2><a href="{% url 'single' recent.id %}">{{ recent.titre|truncatechars:21 }} </a></h2>
                                    <ul class="post-tags">
                                        <li><i class="fa fa-clock-o"></i>{{ recent.date_update|date:'F d, Y'|title }}</li>
                                    </ul>
                                </div>
                            </li>
                        {% endfor %}
                    </ul>										
                </div>
                <div class="tab-pane" id="option3">
                    <ul class="list-posts">

                        <li>
                            <img src="{% static 'upload/news-posts/listw4.jpg' %}" alt="">
                            <div class="post-content">
                                <h2><a href="{% url 'blog' %}">Donec consectetuer ligula vulputate sem tristique cursus. </a></h2>
                                <ul class="post-tags">
                                    <li><i class="fa fa-clock-o"></i>27 may 2013</li>
                                </ul>
                            </div>
                        </li>

                        <li>
                            <img src="{% static 'upload/news-posts/listw1.jpg' %}" alt="">
                            <div class="post-content">
                                <h2><a href="{% url 'blog' %}">Pellentesque odio nisi, euismod in, pharetra a, ultricies in, diam. </a></h2>
                                <ul class="post-tags">
                                    <li><i class="fa fa-clock-o"></i>27 may 2013</li>
                                </ul>
                            </div>
                        </li>

                        <li>
                            <img src="{% static 'upload/news-posts/listw3.jpg' %}" alt="">
                            <div class="post-content">
                                <h2><a href="{% url 'blog' %}">Phasellus ultrices nulla quis nibh. Quisque a lectus.  </a></h2>
                                <ul class="post-tags">
                                    <li><i class="fa fa-clock-o"></i>27 may 2013</li>
                                </ul>
                            </div>
                        </li>

                        <li>
                            <img src="{% static 'upload/news-posts/listw2.jpg' %}" alt="">
                            <div class="post-content">
                                <h2><a href="{% url 'blog' %}">Sed arcu. Cras consequat.</a></h2>
                                <ul class="post-tags">
                                    <li><i class="fa fa-clock-o"></i>27 may 2013</li>
                                </ul>
                            </div>
                        </li>

                        <li>
                            <img src="{% static 'upload/news-posts/listw5.jpg' %}" alt="">
                            <div class="post-content">
                                <h2><a href="{% url 'blog' %}">Nam nulla quam, gravida non, commodo a, sodales sit amet, nisi.</a></h2>
                                <ul class="post-tags">
                                    <li><i class="fa fa-clock-o"></i>27 may 2013</li>
                                </ul>
                            </div>
                        </li>
                    </ul>										
                </div>
            </div>
        </div>

        <div class="widget tags-widget">

            <div class="title-section">
                <h1><span>Popular Tags</span></h1>
            </div>

            <ul class="tag-list">
            {% for tag in tags %}
                <li><a href="{% url 'blog' 'tag' tag.id %}">{{ tag.nom }}</a></li>
            {% endfor %}    
            </ul>

        </div>

        <div class="advertisement">
            <div class="desktop-advert">
                <span>Advertisement</span>
                <img src="{% static 'upload/addsense/300x250.jpg' %}" alt="">
            </div>
            <div class="tablet-advert">
                <span>Advertisement</span>
                <img src="{% static 'upload/addsense/200x200.jpg' %}" alt="">
            </div>
            <div class="mobile-advert">
                <span>Advertisement</span>
                <img src="{% static 'upload/addsense/300x250.jpg' %}" alt="">
            </div>
        </div>

    </div>
    <!-- End sidebar -->

</div>
