{% extends 'bases/base.html' %}

{% load static %}

{% block title %}
Blog
{% endblock title %}


{% block vueCdn %}
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
{% endblock %}


{% block content%}

<!--============= PAGE-COVER =============-->
<section class="page-cover" id="cover-about-us">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h1 class="page-title">Blog</h1>
                <ul class="breadcrumb">
                    <li><a href="{% url 'about' %}">Blog</a></li>
                    <li class="active">Blog</li>
                </ul>
            </div><!-- end columns -->
        </div><!-- end row -->
    </div><!-- end container -->
</section><!-- end page-cover -->

<!-- block-wrapper-section
			================================================== -->
           <section class="block-wrapper">
                    <div class="container">
                        <div class="row">
                            
        
                            <!-- blog-content-item -->

                            <div class="col-sm-8">    
                                <!-- block content -->
                                <div class="block-content">
                                    
                                    <!-- masonry box -->
                                    <div class="masonry-box">

                                        <div class="title-section">
                                            <h1><span>Latest Articles</span></h1>
                                        </div>

                                        <div class="latest-articles iso-call">

                                            <div id="app">
                                            <div class="news-post standard-post2 default-size" v-for="article in articles" :key="article.id">
                                                <div class="post-gallery">
                                                    <a href="{#{% url 'single_blog' article.id %}#}"><img v-bind:src="article.image" alt=""></a>
                                                </div>
                                                <div class="post-title">
                                                    <h2><a href="{% comment %}{% url 'single_blog' article.id %}{% endcomment %}">${ articles.titre } </a></h2>
                                                    <ul class="post-tags">
                                                        <li><i class="fa fa-clock-o"></i>27 may 2013</li>
                                                        <li><i class="fa fa-user"></i>by <a href="#">John Doe</a></li>
                                                        <li><a href="#"><i class="fa fa-comments-o"></i><span>23</span></a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                            </div>

                                        </div>

                                    </div>
                                    <!-- End masonry box -->

                                    <!-- pagination box -->
                                    <div class="pagination-box">
                                        <ul class="pagination-list">
                                            {% if articles.has_previous %}
                                            <li><a class="active" href="?page={{ articles.previous_page_number }}">1</a></li>
                                            {% endif %}

                                            {% for num in articles.paginator.page_range %}

                                            {% if num == articles.number %}

                                            <li><a href="?page={{ num }}">{{ num }}</a></li>

                                            {% else %}
                                            <li><a href="?page={{ num }}">{{ num }}</a></li>
                                            {% endif %}
                                            {% endfor %}
                                            <li><span>...</span></li>
                                            <li><a href="?page={{ num }}">{{ num }}</a></li>
                                            {% if articles.has_next %}    

                                            <li><a href="?page={{ articles.next_page_number }}">Next</a></li>
                                            {% endif %}
                                        </ul>
                                    </div>
                                    <!-- End pagination box -->

                                </div>
                                <!-- End block content -->

                            </div>
                                
                            <!-- end blog-content-item -->

                            <!-- blog sidebar-item -->

                            <div class="col-sm-4">
        
                                <!-- sidebar -->
                                <div class="sidebar">

                                    <div class="widget tab-posts-widget">

                                        <ul class="nav nav-tabs" id="myTab">
                                            <li class="active">
                                                <a href="#option1" data-toggle="tab">Popular</a>
                                            </li>
                                            <li>
                                                <a href="#option2" data-toggle="tab">Recent</a>
                                            </li>
                                            <li>
                                                <a href="#option3" data-toggle="tab">Top Reviews</a>
                                            </li>
                                        </ul>

                                        <div class="tab-content">
                                            <div class="tab-pane active" id="option1">
                                                <ul class="list-posts">
                                                    {% for recent in articles_recent %}
                                                        <li>
                                                            <img src="{{ recent.image.url }}" alt="">
                                                            <div class="post-content">
                                                                <h2><a href="{% url 'single_blog' recent.id %}">{{ recent.titre|truncatechars:21 }} </a></h2>
                                                                <ul class="post-tags">
                                                                    <li><i class="fa fa-clock-o"></i>{{ recent.date_update|date:'F d, Y'|title }}</li>
                                                                </ul>
                                                            </div>
                                                        </li>
                                                    {% endfor %}
                                                </ul>	
                                            </div>
                                            <div class="tab-pane" id="option2">
                                                <ul class="list-posts">
                                                    {% for recent in articles_recent %}
                                                        <li>
                                                            <img src="{{ recent.image.url }}" alt="">
                                                            <div class="post-content">
                                                                <h2><a href="{% url 'single_blog' recent.id %}">{{ recent.titre|truncatechars:21 }} </a></h2>
                                                                <ul class="post-tags">
                                                                    <li><i class="fa fa-clock-o"></i>{{ recent.date_update|date:'F d, Y'|title }}</li>
                                                                </ul>
                                                            </div>
                                                        </li>
                                                    {% endfor %}
                                                </ul>										
                                            </div>
                                            <div class="tab-pane" id="option3">
                                                <ul class="list-posts">
                                                    {% for recent in articles_recent %}
                                                    <li>
                                                        <img src="{{ recent.image.url }}" alt="">
                                                        <div class="post-content">
                                                            <h2><a href="{% url 'single_blog' recent.id %}">{{ recent.titre|truncatechars:21 }} </a></h2>
                                                            <ul class="post-tags">
                                                                <li><i class="fa fa-clock-o"></i>{{ recent.date_update|date:'F d, Y'|title }}</li>
                                                            </ul>
                                                        </div>
                                                    </li>
                                                    {% endfor %}
                                
                                                </ul>										
                                            </div>
                                        </div>
                                    </div>

                                    <div class="widget tags-widget">

                                        <div class="title-section">
                                            <h1><span>Popular Tags</span></h1>
                                        </div>

                                        <ul class="tag-list">
                                        {% for tag in tags %}
                                            <li><a href="{% url 'blog' 'tag' tag.id %}">{{ tag.nom }}</a></li>
                                        {% endfor %}    
                                        </ul>

                                    </div>

                                    <div class="advertisement">
                                        <div class="desktop-advert">
                                            <span>Advertisement</span>
                                            <img src="{% static 'upload/addsense/300x250.jpg' %}" alt="">
                                        </div>
                                        <div class="tablet-advert">
                                            <span>Advertisement</span>
                                            <img src="{% static 'upload/addsense/200x200.jpg' %}" alt="">
                                        </div>
                                        <div class="mobile-advert">
                                            <span>Advertisement</span>
                                            <img src="{% static 'upload/addsense/300x250.jpg' %}" alt="">
                                        </div>
                                    </div>

                                </div>
                                <!-- End sidebar -->

                            </div>

                            <!-- end blog sidebar-item -->
                        </div>
        
                    </div>
                </section>
            <!-- End block-wrapper-section -->

            <!--========================= NEWSLETTER-1 ==========================-->
        <section id="newsletter-1" class="section-padding back-size newsletter"> 
            <div class="container">
                <div class="row">
                	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center">
                        <h2>Subscribe Our Newsletter</h2>
                        <p>Subscibe to receive our interesting updates</p>	
                        <form action="{% url 'newsletter' %}" method="POST" class="subscribe_form relative mail_part">
                            {% csrf_token %}
                            <div class="form-group">
                                <div class="input-group">
                                    <input 
                                    type="email" 
                                    class="form-control input-lg"
                                    id="newsletter-form-email"  
                                    placeholder="Enter your email address"
                                    onfocus="this.placeholder=''" 
                                    onblur="this.placeholder=' Enter your email address '" 
                                    required/>
                                    <span class="input-group-btn">
                                        <button type="submit" class="btn btn-lg">
                                            <i class="fa fa-envelope"></i>
                                        </button>
                                    </span>
                                </div>
                            </div>
                        </form>
                    </div><!-- end columns -->
                </div><!-- end row -->
            </div><!-- end container -->
        </section><!-- end newsletter-1 -->
        
{% endblock content%}

{% block vue %}
<script>
app=new Vue({
    el:"#app",
    data: {
        articles:[],
        base_url: window.location.protocol + "//" + window.location.host
    },
    delimiters : ["${ ", " }"],
    mounted(){
      this.getArticles()
    },
    methods: {
        getArticles: function (){
            axios.get(this.base_url + "/blog/api/articles/")
            .then(response =>(this.articles = response.data))
        },
    }
})
</script>
{% endblock%}