{% extends 'bases/base.html' %}

{% load static %}

{% block title %}
Home
{% endblock title %}

{% block content%}

<!-- main-news-slider
			================================================== -->
			<!--caroucel-->
            <section class="main-news-slider">
                <ul class="main-slider">
                    
                    {% for acceille in acceille %}
                    <li>
                        
                        <div class="news-post image-post2">
                            <div class="post-gallery">
                                <img src="{{ acceille.image.url }}" alt="">
                                <div class="hover-box">
                                    <div class="inner-hover">
                                        <a class="category-post" href="{% url 'index' %}">{{ acceille.nom }}</a>
                                        <h2><a href="{% url 'blog' %}">{{ acceille.description }}</a></h2>
                                        <ul class="post-tags">
                                            <li><i class="fa fa-clock-o"></i>{{ acceille.date_update|date:'F d, Y'|title }}</li>
                                            <li><i class="fa fa-user"></i>by <a href="#">John Doe</a></li>
                                            <li><a href="#"><i class="fa fa-comments-o"></i><span>0</span></a></li>
                                            <li><i class="fa fa-eye"></i>872</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                    </li>
                    {% endfor %}
                    
                </ul>
                <div class="custom-slider-arrows">
                    <div class="container">
                        <div id="slider-prev"></div>
                        <div id="slider-next"></div>
                    </div>
                </div>
            </section>
            <!-- End main-news-slider -->
            
            
            <!-- features-today-section
                ================================================== -->
            <section class="features-today">
                <div class="container">
    
                    <div class="title-section">
                        <h1><span>Today's Featured</span></h1>
                    </div>
    
                    <div class="features-today-box owl-wrapper">
                        <div class="owl-carousel" data-num="4">
                            {% for recent in articles_recent %}

                            <div class="item news-post standard-post">
                                <div class="post-gallery">
                                    <img src="{{ recent.image.url }}" alt="">
                                    <a class="category-post world" href="{% url 'single_blog' recent.id %}">{{ recent.titre|truncatechars:21 }} </a>
                                </div>
                                <div class="post-content">
                                    <h2><a href="{% url 'blog' %}">{{ recent.description|truncatechars:21 }}</a></h2>
                                    <ul class="post-tags">
                                        <li><i class="fa fa-clock-o"></i>{{ recent.date_update|date:'F d, Y'|title }}</li>
                                        <li><i class="fa fa-user"></i>by <a href="#">John Doe</a></li>
                                        <li><a href="#"><i class="fa fa-comments-o"></i><span>23</span></a></li>
                                    </ul>
                                </div>
                            </div>
                            
                            {% endfor %}
    
                        </div>
                    </div>
    
                </div>
            </section>
            <!-- End features-today-section -->
    
            <!-- latest-fashion-section 
			================================================== -->
            <section class="latest-fashion">
                <div class="container">
                    <div class="title-section white">
                        <h1><span>latest fashion</span></h1>
                    </div>

                    <div class="fatest-fashion owl-wrapper">
                        <div class="owl-carousel" data-num="3">
                        {% for fashion in fashion %}
                        
                            <div class="item news-post fashion-post">
                                <div class="post-gallery">
                                    <img alt="" src="{{ fashion.image.url }}">
                                </div>
                                <div class="post-content">
                                    <a href="{% url 'blog' %}">{{ fashion.nom }}</a>
                                    <h2><a href="#">{{ fashion.description }}</a></h2>
                                    <ul class="post-tags">
                                        <li><i class="fa fa-clock-o"></i>{{ fashion.date_update|date:'F d, Y'|title }}</li>
                                        <li><i class="fa fa-user"></i>by <a href="#">John Doe</a></li>
                                        <li><a href="#"><i class="fa fa-comments-o"></i><span>23</span></a></li>
                                    </ul>
                                </div>
                            </div>
                        
                        {% endfor %}    
                        </div>
                    </div>
                </div>
            </section>
        <!-- End latest-fashion-section -->

        <!-- block-wrapper-section
                ================================================== -->
                <section class="block-wrapper">
                    <div class="container">
                        <div class="row">
                            
        
                            <!-- blog-content-item -->

                            <div class="col-sm-8">    
                                <!-- block content -->
                                <div class="block-content">
                                    
                                    <!-- masonry box -->
                                    <div class="masonry-box">

                                        <div class="title-section">
                                            <h1><span>Latest Articles</span></h1>
                                        </div>

                                        <div class="latest-articles iso-call">

                                            {% for article  in articles %}

                                            <div class="{% cycle 'news-post standard-post2 default-size' 'news-post standard-post2' 'news-post standard-post2' 'news-post standard-post2' 'news-post standard-post2' 'news-post standard-post2' %}">
                                                <div class="post-gallery">
                                                    <a href="{% url 'single_blog' article.id %}"><img src="{{ article.image.url }}" alt=""></a>
                                                </div>
                                                <div class="post-title">
                                                    <h2><a href="{% url 'single_blog' article.id %}">{{ articles.titre }} </a></h2>
                                                    <ul class="post-tags">
                                                        <li><i class="fa fa-clock-o"></i>27 may 2013</li>
                                                        <li><i class="fa fa-user"></i>by <a href="#">John Doe</a></li>
                                                        <li><a href="#"><i class="fa fa-comments-o"></i><span>23</span></a></li>
                                                    </ul>
                                                </div>
                                            </div>

                                            {%endfor%}

                                        </div>

                                    </div>
                                    <!-- End masonry box -->

                                    <!-- pagination box -->
                                    <div class="pagination-box">
                                        <ul class="pagination-list">
                                            {% if articles.has_previous %}
                                            <li><a class="active" href="?page={{ articles.previous_page_number }}">1</a></li>
                                            {% endif %}

                                            {% for num in articles.paginator.page_range %}

                                            {% if num == articles.number %}

                                            <li><a href="?page={{ num }}">{{ num }}</a></li>

                                            {% else %}
                                            <li><a href="?page={{ num }}">{{ num }}</a></li>
                                            {% endif %}
                                            {% endfor %}
                                            <li><span>...</span></li>
                                            <li><a href="?page={{ num }}">{{ num }}</a></li>
                                            {% if articles.has_next %}    

                                            <li><a href="?page={{ articles.next_page_number }}">Next</a></li>
                                            {% endif %}
                                        </ul>
                                        <p>Page 1 of 9</p>
                                    </div>
                                    <!-- End pagination box -->

                                </div>
                                <!-- End block content -->

                            </div>
                                
                            <!-- end blog-content-item -->

                            <!-- blog sidebar-item -->

                            <div class="col-sm-4">
        
                                <!-- sidebar -->
                                <div class="sidebar">

                                    <div class="widget tab-posts-widget">

                                        <ul class="nav nav-tabs" id="myTab">
                                            <li class="active">
                                                <a href="#option1" data-toggle="tab">Popular</a>
                                            </li>
                                            <li>
                                                <a href="#option2" data-toggle="tab">Recent</a>
                                            </li>
                                            <li>
                                                <a href="#option3" data-toggle="tab">Top Reviews</a>
                                            </li>
                                        </ul>

                                        <div class="tab-content">
                                            <div class="tab-pane active" id="option1">
                                                <ul class="list-posts">
                                                    <li>
                                                        <img src="{% static 'upload/news-posts/listw1.jpg' %}" alt="">
                                                        <div class="post-content">
                                                            <h2><a href="{% url 'blog' %}">Pellentesque odio nisi, euismod in, pharetra a, ultricies in, diam. </a></h2>
                                                            <ul class="post-tags">
                                                                <li><i class="fa fa-clock-o"></i>27 may 2013</li>
                                                            </ul>
                                                        </div>
                                                    </li>

                                                    <li>
                                                        <img src="{% static 'upload/news-posts/listw2.jpg' %}" alt="">
                                                        <div class="post-content">
                                                            <h2><a href="{% url 'blog' %}">Sed arcu. Cras consequat. </a></h2>
                                                            <ul class="post-tags">
                                                                <li><i class="fa fa-clock-o"></i>27 may 2013</li>
                                                            </ul>
                                                        </div>
                                                    </li>

                                                    <li>
                                                        <img src="{% static 'upload/news-posts/listw3.jpg' %}" alt="">
                                                        <div class="post-content">
                                                            <h2><a href="{% url 'blog' %}">Phasellus ultrices nulla quis nibh. Quisque a lectus.  </a></h2>
                                                            <ul class="post-tags">
                                                                <li><i class="fa fa-clock-o"></i>27 may 2013</li>
                                                            </ul>
                                                        </div>
                                                    </li>

                                                    <li>
                                                        <img src="{% static 'upload/news-posts/listw4.jpg' %}" alt="">
                                                        <div class="post-content">
                                                            <h2><a href="{% url 'blog' %}">Donec consectetuer ligula vulputate sem tristique cursus. </a></h2>
                                                            <ul class="post-tags">
                                                                <li><i class="fa fa-clock-o"></i>27 may 2013</li>
                                                            </ul>
                                                        </div>
                                                    </li>

                                                    <li>
                                                        <img src="{% static 'upload/news-posts/listw5.jpg' %}" alt="">
                                                        <div class="post-content">
                                                            <h2><a href="{% url 'blog' %}">Nam nulla quam, gravida non, commodo a, sodales sit amet, nisi. </a></h2>
                                                            <ul class="post-tags">
                                                                <li><i class="fa fa-clock-o"></i>27 may 2013</li>
                                                            </ul>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="tab-pane" id="option2">
                                                <ul class="list-posts">
                                                    {% for recent in articles_recent %}
                                                        <li>
                                                            <img src="{{ recent.image.url }}" alt="">
                                                            <div class="post-content">
                                                                <h2><a href="{% url 'single_blog' recent.id %}">{{ recent.titre|truncatechars:21 }} </a></h2>
                                                                <ul class="post-tags">
                                                                    <li><i class="fa fa-clock-o"></i>{{ recent.date_update|date:'F d, Y'|title }}</li>
                                                                </ul>
                                                            </div>
                                                        </li>
                                                    {% endfor %}
                                                </ul>										
                                            </div>
                                            <div class="tab-pane" id="option3">
                                                <ul class="list-posts">

                                                    <li>
                                                        <img src="{% static 'upload/news-posts/listw4.jpg' %}" alt="">
                                                        <div class="post-content">
                                                            <h2><a href="{% url 'blog' %}">Donec consectetuer ligula vulputate sem tristique cursus. </a></h2>
                                                            <ul class="post-tags">
                                                                <li><i class="fa fa-clock-o"></i>27 may 2013</li>
                                                            </ul>
                                                        </div>
                                                    </li>

                                                    <li>
                                                        <img src="{% static 'upload/news-posts/listw1.jpg' %}" alt="">
                                                        <div class="post-content">
                                                            <h2><a href="{% url 'blog' %}">Pellentesque odio nisi, euismod in, pharetra a, ultricies in, diam. </a></h2>
                                                            <ul class="post-tags">
                                                                <li><i class="fa fa-clock-o"></i>27 may 2013</li>
                                                            </ul>
                                                        </div>
                                                    </li>

                                                    <li>
                                                        <img src="{% static 'upload/news-posts/listw3.jpg' %}" alt="">
                                                        <div class="post-content">
                                                            <h2><a href="{% url 'blog' %}">Phasellus ultrices nulla quis nibh. Quisque a lectus.  </a></h2>
                                                            <ul class="post-tags">
                                                                <li><i class="fa fa-clock-o"></i>27 may 2013</li>
                                                            </ul>
                                                        </div>
                                                    </li>

                                                    <li>
                                                        <img src="{% static 'upload/news-posts/listw2.jpg' %}" alt="">
                                                        <div class="post-content">
                                                            <h2><a href="{% url 'blog' %}">Sed arcu. Cras consequat.</a></h2>
                                                            <ul class="post-tags">
                                                                <li><i class="fa fa-clock-o"></i>27 may 2013</li>
                                                            </ul>
                                                        </div>
                                                    </li>

                                                    <li>
                                                        <img src="{% static 'upload/news-posts/listw5.jpg' %}" alt="">
                                                        <div class="post-content">
                                                            <h2><a href="{% url 'blog' %}">Nam nulla quam, gravida non, commodo a, sodales sit amet, nisi.</a></h2>
                                                            <ul class="post-tags">
                                                                <li><i class="fa fa-clock-o"></i>27 may 2013</li>
                                                            </ul>
                                                        </div>
                                                    </li>
                                                </ul>										
                                            </div>
                                        </div>
                                    </div>

                                    <div class="widget tags-widget">

                                        <div class="title-section">
                                            <h1><span>Popular Tags</span></h1>
                                        </div>

                                        <ul class="tag-list">
                                        {% for tag in tags %}
                                            <li><a href="{% url 'blog' 'tag' tag.id %}">{{ tag.nom }}</a></li>
                                        {% endfor %}    
                                        </ul>

                                    </div>

                                    <div class="advertisement">
                                        <div class="desktop-advert">
                                            <span>Advertisement</span>
                                            <img src="{% static 'upload/addsense/300x250.jpg' %}" alt="">
                                        </div>
                                        <div class="tablet-advert">
                                            <span>Advertisement</span>
                                            <img src="{% static 'upload/addsense/200x200.jpg' %}" alt="">
                                        </div>
                                        <div class="mobile-advert">
                                            <span>Advertisement</span>
                                            <img src="{% static 'upload/addsense/300x250.jpg' %}" alt="">
                                        </div>
                                    </div>

                                </div>
                                <!-- End sidebar -->

                            </div>

                            <!-- end blog sidebar-item -->
                        </div>
        
                    </div>
                </section>
                <!-- End block-wrapper-section -->
        

            <!-- feature-video-section 
                ================================================== -->
            <section class="feature-video">
                <div class="container">
                    <div class="title-section white">
                        <h1><span>Photo Galleries</span></h1>
                    </div>
    
                    <div class="features-video-box owl-wrapper">
                        <div class="owl-carousel" data-num="4">
                            {% for gallerie in gallerie %}

                            <div class="item news-post image-post3">
                                <img alt="" src="{{ gallerie.image.url }}">
                                <div class="hover-box">
                                    <h2><a href="{% url 'blog' %}"> {{ gallerie.description }}</a></h2>
                                    <ul class="post-tags">
                                        <li><i class="fa fa-clock-o"></i>{{ gallerie.date_update|date:'F d, Y'|title }}</li>
                                    </ul>
                                </div>
                            </div>

                            {% endfor %}
                            
    
                        </div>
                    </div>
                </div>
            </section>
            <!-- End feature-video-section -->
    
        </div>
        <!-- End Container -->
        {% endblock content%}